.container {
    width: 90px;
    margin: 0 auto;
}
.navi {
    width: 960px;
    height: 60px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}
.navi ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 5px;
}
.navi ul li {
    display: inline-block;
    width: 150px;
    padding: 10px;
}
.navi a:link,
.navi a:visited {
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
}
.navi a:focus,
.navi a:hover {
    background-color: #222;
    /* 배경 색 */
    color: #fff;
    /* 글자 색 */
}

.navi a:active {
    background-color: #f00;
    /* 배경 색 */
}
.contents {
    margin: 30px auto;
    width: 400px;
    padding: 20px;
    border: 1px solid #222;
    border-radius: 5px;
}
.contents :nth-child(3) {
    background-color: #ffff00;
}
.contents p:nth-of-type(3) {
    background-color: #00b900;
}
.contains1 {
    margin: 30px auto;
    width: 400px;
    padding: 20px;
    border: 1px solid #222;
    border-radius: 5px;
}
.contains1 p:nth-child(2n) {
    background-color: #00b900;
}
.contains2 {
    margin: 30px auto;
    width: 400px;
    padding: 20px;
    border: 1px solid #222;
    border-radius: 5px;
}

li.new::after {
    content: "NEW!";
    font-size: xx-small;
    padding: 2px 4px;
    margin: 0 10px;
    border-radius: 2px;
    background: #f00;
    color: #fff;
}

.origin {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
    margin: 30px;
    perspective: 200px;
}
.origin > div {    
    width: 100px;
    height: 100px;
    background-color: orange;
    transition: all 0.1s;
}
#transform {
    width: 60%;
    height: 200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #222;
    border-radius: 5px;
}
#movex:hover {
    transform: translateX(20px);
    /* x축으로(가로) 50px 이동 */
}
#movey:hover {
    transform: translateY(20px);
    /* y축으로(세로) 20px 이동 */
}
#movexy:hover {
    transform: translate(-20px, -20px);
    /* x축으로(가로) 10px, y축으로(세로) 20px 이동 */
}
#scale {
    width: 60%;
    height: 200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #222;
    border-radius: 5px;
}
#scalex:hover {
    transform: scaleX(2);
    /* x축으로(가로) 2배 확대 */
}
#scaley:hover {
    transform: scaleY(1.5);
    /* y축으로(세로) 1.5배 확대 */
}
#scalexy:hover {
    transform: scale(0.7);
    /* x, y축으로(가로, 세로) 0.7배 확대 */
}
#rotate {
    width: 40%;
    height: 200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #222;
    border-radius: 5px;
}
#rotate_clockrise:hover {
    transform: rotate(30deg);
}
#rotate_backclockrise:hover {
    transform: rotate(-30deg);
}
#rotate3 {
    width: 70%;
    height: 200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #222;
    border-radius: 5px;
}
#rotatex:hover {
    transform: rotateX(55deg);
}
#rotatey:hover {
    transform: rotateY(55deg);
}
#rotatez:hover {
    transform: rotateZ(55deg);
}
#rotate3d:hover {
    transform: rotate3d(2.5, 1.2, -1.5, 55deg);
}

#rotate4 {
    width: 50%;
    height: 200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #222;
    border-radius: 5px;
}
#skewx:hover {
    transform: skewX(30deg);
    /* x축 기준으로 30도 비틀기 */
}
#skewy:hover {
    transform: skewY(15deg);
    /* y축 기준으로 15도 비틀기 */
}
#skewxy:hover {
    transform: skew(-25deg, -15deg);
    /* x축 기준으로 -25도, y축 기준으로 -15도 비틀기 */
}
#transition {
    width: 50%;
    height: 200px;
    margin: 20px auto;
    padding: 5px;
    border: 1px solid #222;
    border-radius: 5px;
}
.box {
    margin:50px auto;
    background-color: #fb5;
    border: 1px solid #222;
    transition-property: 100px, 100px;
    transition-duration: 2s, 1s;
    /*transition: 1s ease-in;  /* 대상: all, 시간:2초, 함수:ease-in */
}
.box:hover {  /* 여기에 있는 속성이 모두 트랜지션 대상 */
    width: 200px;
    height: 200px;
    background-color: #f50;		
}
