body{
    background: url("../html/img_collect/bg0.jpg") no-repeat fixed;
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    body{
        background: url("../html/img_collect/bg1.jpg") no-repeat fixed;
        background-size: cover;
    }
}

@media screen and (max-width: 768px) {
    body{
        background: url("../html/img_collect/bg2.jpg") no-repeat fixed;
        background-size: cover;
    }
}

@media screen and (max-width: 320px) {
    body{
        background: url("../html/img_collect/bg3.jpg") no-repeat fixed;
        background-size: cover;
    }
}
h1{
    font-size: 5vw;
    text-align: center;
    color: white;
    margin: 10px;
    border: 3px solid white;
}