<<<<<<< HEAD
@charse 'utf-8';

body{
    background-color: white;
}
h1{
    color: blue;
}

p{
    text-align: center;
    color: red;
=======
@charse 'utf-8';

body{
    background-color: white;
}
h1{
    color: blue;
}

p{
    text-align: center;
    color: red;
>>>>>>> 367930bd7abb1210c0f4aa3318a60d33fb395f8b
}