.container{
    width:auto;
    display: flex;
    background-color: #eee;
    border: 1px solid #222;
    margin-bottom: 30px;
    flex-flow :row wrap;
}
.box {
    padding:5px 45px;
    margin:5px;   
    width:50px;
    background-color:#222;   
}

.box p{
    color: white;
}
#opt1{flex-direction: row;}    /*left to right*/
#opt2{flex-direction: row-reverse;}   /*right to left*/
#opt3{flex-direction: column;} /*top to bottom*/
#opt4{flex-direction: column-reverse;}    /*bottom to top*/

#opt5{flex-flow: row;} /*left to right multi*/
#opt6{flex-flow: row-reverse;}    /*left to right one line*/

#opt7{justify-content: flex-start;}   /*main start asix*/
#opt8{justify-content: flex-end;} /*main end asix*/
#opt9{justify-content: center;}   /*main center*/
#opt10{justify-content: space-between;}    /*main start end ponint*/
#opt11{justify-content: space-around;} /*same interval*/

#opt12{align-items: flex-start;}/* 교차축 시작점 기준으로 배치 */
#opt13{align-items: flex-end;}/* 교차축 끝점 기준으로 배치 */     
#opt14{align-items: center;}       /* 교차축 중앙 기준으로 배치 */
#opt15{align-items: baseline;}      /* 문자 기준선에 맞춰 배치 */ 
#opt16{align-items: stretch;}       /* 항목을 늘려 교차축에 가득차게 배치 */  

#opt17{flex-flow : row wrap}
#opt18{flex-flow : row nowrap}